DAP_HOST=
LDAP_PORT=389
LDAP_BIND_DN=cn=admin,dc=inf,dc=uct,dc=cl
LDAP_BASE_DN=dc=inf,dc=uct,dc=cl
LDAP_BIND_PASS=
LDAP_USE_TLS=false

DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL_MODE=

LOGGER_LEVEL=debu
